<h2>My Users</h2>
<button routerLink="/newUser">
     Add New User
</button>
<ul class="users">
    <li *ngFor="let usr of usrs">
        <a routerLink="/users/{{usr.id}}">
            <span class="badge">{{usr.id}}</span> {{usr.firstName}} {{usr.lastName}}
        </a>
        <button class="delete" title="delete user"
      (click)="delete(usr)">x</button>
  </li>
</ul>
