<h2>My Tasks</h2>
<button routerLink="/newTask">
     Add New Task
</button>
<ul class="tasks">
    <li *ngFor="let task of tasks">
        <a routerLink="/tasks/{{task.id}}">
            <span class="badge">{{task.id}}</span> {{task.name}}
        </a>
        <button class="delete" title="delete task"
      (click)="delete(task)">x</button>
  </li>
</ul>
