<div *ngIf="task">
    <h2>New task Details</h2>
    <div><span>id: </span>{{task.id}}</div>
    <div><span>name: </span>{{task.name}}</div>
    <div><span>description: </span>{{task.description}}</div>
    <div><span>taskState: </span>{{task.taskState}}</div>
    <div><span>createdAt: </span>{{task.createdAt }}</div>
    <div><span>finished at: </span>{{task.finishedAt }}</div>
    <div><span>projectId: </span>{{task.projectId}}</div>
    <div><span>performerId: </span>{{task.performerId}}</div>

    <form (ngSubmit)="add(task)" #taskForm="ngForm">
    <div>
      <label>name:
        <input type = "text" minlength="3" [(ngModel)]="task.name" name="Name"/>
      </label>
    </div>
    <div>
      <label>description:
        <input type = "text" minlength="3" [(ngModel)]="task.description" name="description"/>
      </label>
    </div>
    <div>
        <label>Task State
        <select [ngModel]="task.taskState" name="task state">
            <option value="{{ state.Created }}">Created</option>
            <option value="{{ state.Finished }}">Finished</option>
            <option value="{{ state.Started }}">Started</option>
            <option value="{{ state.Cancelled }}">Cancelled</option>
        </select>    
      </label> 
    </div>
    <div>
      <label>Created At:
        <input type = "date" [(ngModel)]="task.createdAt" name="createdAt"/>
      </label>
    </div>
    <div>
      <label>Finished at:
        <input type = "date" [(ngModel)]="task.finishedAt " name="Finished at"/>
      </label>
    </div>
    <div>
      <label>Project Id
        <input type = number [(ngModel)]="task.projectId" name="projectId"/>
      </label>
    </div>
    <div>
        <label>Performer Id
          <input type = number [(ngModel)]="task.performerId" name="performerId"/>
        </label>
      </div>
    <button type="submit" [disabled] = "taskForm.invalid">save</button>
  </form>
</div>