<div *ngIf="project">
    <h2>New project Details</h2>
    <div><span>id: </span>{{project.id}}</div>
    <div><span>name: </span>{{project.name}}</div>
    <div><span>description: </span>{{project.description}}</div>
    <div><span>createdAt: </span>{{project.createdAt }}</div>
    <div><span>deadline: </span>{{project.deadline }}</div>
    <div><span>authorId: </span>{{project.authorId}}</div>
    <div><span>teamId: </span>{{project.teamId}}</div>

    <form (ngSubmit)="add(project)" #projectForm="ngForm">
        <div>
            <label>name:
              <input type = "text" minlength="3" [(ngModel)]="project.name" name="Name"/>
            </label>
          </div>
          <div>
            <label>description:
              <input type = "text" minlength="3" [(ngModel)]="project.description" name="description"/>
            </label>
          </div>
          <div>
            <label>Created At:
              <input type = "date" [(ngModel)]="project.createdAt" name="createdAt"/>
            </label>
          </div>
          <div>
            <label>Deadline
              <input type = "date" [(ngModel)]="project.deadline " name="Deadline"/>
            </label>
          </div>
          <div>
            <label>Author Id
              <input type = number [(ngModel)]="project.authorId" name="authorId"/>
            </label>
          </div>
          <div>
              <label>Team Id
                <input type = number [(ngModel)]="project.teamId" name="teamId"/>
              </label>
            </div>
    <button type="submit" [disabled] = "projectForm.invalid">save</button>
  </form>
</div>