<h2>My Projects</h2>
<button routerLink="/newProject">
     Add New Project
</button>
<ul class="projects">
    <li *ngFor="let project of projects">
        <a routerLink="/projects/{{project.id}}">
            <span class="badge">{{project.id}}</span> {{project.name}}
        </a>
        <button class="delete" title="delete project"
      (click)="delete(project)">x</button>
  </li>
</ul>
