.projects {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 35em;
}
.projects li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.projects li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.projects li.selected {
  background-color: #CFD8DC;
  color: white;
}
.projects li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.projects .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
label {
  display: inline-block;
  width: 3em;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
 
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
