<div *ngIf="team">
    <h2>{{team.name}} Details</h2>
    <button type="button" (click)="saved=!saved">Edit</button>
    <div><span>id: </span>{{team.id}}</div>
    <div><span>name: </span>{{team.name}}</div>
    <div><span>created at: </span>{{team.createdAt  }}</div>

    <form [hidden]="saved" (ngSubmit)="save()" #teamForm="ngForm">
        <div>
            <label>name:
                <input type = text [(ngModel)]="team.name" name="Team Name"/>
            </label>
        </div>
        <div>
            <label>created at:
                <input type = date [(ngModel)]="team.createdAt" name="created at"/>
            </label>
        </div>
        <button type="submit" [disabled] = "teamForm.invalid">save</button>
    </form>
    <button  type="button" (click)="goBack()">go back</button>
  </div>
