<h1>{{title}}</h1>
<nav>
  <button routerLink="/users">Users</button>
  <button routerLink="/teams">Teams</button>
  <button routerLink="/projects">Projects</button>
  <button routerLink="/tasks">Tasks</button>

  <button routerLink="/dashboard">Dashboard</button>
</nav>
<router-outlet></router-outlet>
