<div *ngIf="user">
    <h2>{{user.firstName}} {{user.lastName}} Details</h2>
    <button type="button" (click)="saved=!saved">Edit</button>
    <div><span>id: </span>{{user.id}}</div>
    <div><span>name: </span>{{user.firstName}}</div>
    <div><span>surname: </span>{{user.lastName}}</div>
    <div><span>email: </span>{{user.email}}</div>
    <div><span>birthday: </span>{{user.birthday }}</div>
    <div><span>registered at: </span>{{user.registeredAt }}</div>
    <div><span>team: </span>{{user.teamId}}</div>

  <form [hidden]="saved" (ngSubmit)="save()" #userForm="ngForm">
    <div>
      <label>name:
        <input type = text [(ngModel)]="user.firstName" name="First Name"/>
      </label>
    </div>
    <div>
      <label>surname:
        <input type = text [(ngModel)]="user.lastName" name="Last Name"/>
      </label>
    </div>
    <div>
      <label>email:
        <input type = email [(ngModel)]="user.email" name="Email"/>
      </label>
    </div>
    <div>
      <label>birthday:
        <input type = date [(ngModel)]="user.birthday" name="Birthday"/>
      </label>
    </div>
    <div>
      <label>registered at:
        <input type = date [(ngModel)]="user.registeredAt" name="registeredAt"/>
      </label>
    </div>
    <div>
      <label>team id
        <input type = number [(ngModel)]="user.teamId" name="teamId"/>
      </label>
    </div>
    <button type="submit" [disabled] = "userForm.invalid">save</button>
  </form>
  
    
    <button  type="button" (click)="goBack()">go back</button>
  </div>
