<h2>My Teams</h2>
<button routerLink="/newTeam">
     Add New Team
</button>
<ul class="teams">
    <li *ngFor="let team of teams">
        <a routerLink="/teams/{{team.id}}">
            <span class="badge">{{team.id}}</span> {{team.name}}
        </a>
        <button class="delete" title="delete team"
      (click)="delete(team)">x</button>
  </li>
</ul>
