<div *ngIf="team">
    <h2>{{team.name}} New Team Details</h2>
    <div><span>name: </span>{{team.name}}</div>
    <div><span>created at: </span>{{team.createdAt }}
    </div>
    <form (ngSubmit)="add(team)" #teamForm="ngForm">
    <div>
      <label>name:
        <input type = "text" minlength="3" [(ngModel)]="team.name" name="Team Name"/>
      </label>
    </div>
    <div>
      <label>created at:
        <input type = "date" [(ngModel)]="team.createdAt" name="created at"/>
      </label>
    </div>
    <button type="submit" [disabled] = "teamForm.invalid">save</button>
  </form>
</div>